<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <!-- ====================== Security constraints ======================== -->
    <security-constraint>
        <display-name>Collector Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>M/MONIT Collector Protected Area</web-resource-name>
            <!-- Define the context-relative URL(s) to be protected -->
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Anyone with one of the listed roles may access this
            area. '*' is a wildcard, meaning all roles are allowed -->
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- =========================== Login method =========================== -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>M/Monit Collector Protected Area</realm-name>
    </login-config>

</web-app>
